@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  
body::-webkit-scrollbar-track {
    background: #FFFF;
   
  }
body::-webkit-scrollbar-thumb {
    background: #342112;
   
    border-radius: 50vw;
    margin-block: 1rem;
    
  }